.footer {
    width:1280px;
    height:100px;
    background:black;
    color:white;
}


@media all and (max-width: 414px) {
    .footer {
        width: 100%; 
    }
}
@media all and (max-width: 280px) {
    .footer {
      width: 100%; 
    }
  }