.nav_wrap {
  position: relative;
  width: 1280px;
  height: 190px;
}

.nav {
    position: absolute;
    width: 1280px;
    top: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 100px;
    background: black;
    color: white;
    margin-bottom: 20px;
  }

  .nav_firstLine{
    display: flex;
    flex-direction: row;
  }
  
  .nav_secondLine {
    display: flex;
    flex-direction: row;
    line-height: 60px;
  }

  .nav_secondLine ul {
    display: flex;
    flex-direction: column;
    line-height: 60px;
    cursor: default;
  }

  .nav_secondLine ul:nth-child(4):hover {
    color: rgb(255, 217, 0);
  }
  .nav_secondLine ul:nth-child(5):hover {
    color: rgb(255, 217, 0);
  }

  .nav_secondLine ul:hover li {
    display: flex;
    flex-direction: column;
    line-height: 60px;
    cursor: pointer;
  }

  .nav_secondLine ul li {
    display: none;
    text-align: center;
  }
  
  .nav_secondLine ul li:hover {
    color: rgb(255, 217, 0);
  }

  .nav_secondLine strong{
    margin: 0 50px;
  }
  
  .menu {
    flex: 1;
    margin-left: 20px ;
  }
  
  .footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer img {
    margin-left: 0.5rem;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
  }
  
  .card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  
  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .logo {
    height: 1em;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  