.overseas_container {
    height: 1500px;
    background: white;
}

.overseas_quick_menu {
    position:sticky;
    margin-top:50px;
    top: 50;
    width: 100px;
    height: 250px; 
    background: black; 
    float: right; 
    border-radius: 10px; 
    color: white;
    list-style: none;
    text-align: center;
}

.overseas_quick_menu li {
    line-height:50px;
    height:50px;
    cursor:pointer;
}

.overseas_quick_menu li:hover {
    color: rgb(255, 217, 0);
}

.overseas_movie_banner {
    position: relative;
    background-size: cover;
    line-height: 150px;
    text-align: center;
    background-image: url('../../../public/images/movies.jpg'); 
    font-size: 30px;
    font-weight: bold;
}

.overseas_movie_banner p {
    position: relative;
    margin: 0;
    color: black
}

.overseas_movie_banner::before{
    content: "";
    opacity:0.3;
    position: absolute;
    top:0;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: white;
}

.overseas_actor_banner {
    position: relative;
    background-size: 70%;
    line-height: 150px;
    text-align: center;
    background-image: url('../../../public/images/overseas_actor.jpg'); 
    font-size: 30px;
    font-weight: bold;
}

.overseas_actor_banner p {
    position: relative;
    margin: 0;
    color: black
}

.overseas_actor_banner::before{
    content: "";
    opacity:0.3;
    position: absolute;
    top:0;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: white;
}

.overseas_news_banner {
    position: relative;
    background-size: 60%;
    line-height: 150px;
    text-align: center;
    background-image: url('../../../public/images/newspaper.jpg'); 
    font-size: 30px;
    font-weight: bold;
}

.overseas_news_banner p {
    position: relative;
    margin: 0;
    color: black
}

.overseas_news_banner::before{
    content: "";
    opacity:0.3;
    position: absolute;
    top:0;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: white;
}